
.container{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#2c2e0fd4;

}
.card{
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 65VH;
    background-color: white;
    border-radius:10px;
}

#modelPic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
     position: relative;
    top:20px;
    left: 30%; 
    

    
}
*{
    margin: 0%;
}

.top{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:black;
    font-family:cursive;
    font-weight:bold;
}
p{
    font-weight:800 ;
    color: rgba(26, 24, 24,0.7);
 
    
}
p.big {
    margin: 1px 5px 5px 5px;
    color: rgba(53, 52, 52,0.8);
    align-items: center;
    text-align-last: center;
    line-height: 1.6;
  }
  img{
      display: flex;
      width: 40px;
      height: 40px;
      margin-right: 1px;
      margin-left: 25px;
      margin-top: 20px; 
      
  }
  